<div class="row mt-3">
  <div class="col-12">
    <div class="row">

      <div class="form-group w-100">
        <div class="col-md-10 col-sm-12">
          <label for="filename"><p class="text-subtitle font-weight-bold" [translate]="'CoursesLocal.Modal.Step1.SubTitle'"></p></label>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-12">
          <div class="input-group" >
            <div class="custom-file overflow-hidden d-inline-block text-truncate">
              <input type="file" class="custom-file-input d-flex d-inline-block text-truncate" id="filename" aria-describedby="filename"
                     required name="filename" (change)="onFileChanged($event)" (click)="reset()" #fileinput>
              <label class="custom-file-label" for="filename">{{selectedFile?.name}}</label>
            </div>
          </div>
        </div>

        <div class="col-10" *ngIf="errorMessage && !isLoading">
          <p class="text-red">{{errorMessage}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
